 <% if @deet.errors.any? %>
  <div>
    <%= pluralize(@deet.errors.count, "error") %> prevented this deet from being submitted:
    <ul>
      <% @deet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <!-- ABOUT ME -->
<div class='form-group'>
  <%= form.label "about_me", class: 'col-lg-2 control-label' %>
  <div class="col-lg-4">
    <%= form.text_area "about_me", class: 'form-control', rows: '3', id: 'textArea', placeholder: 'I play lacrosse for the Darkstar HuffleStops' %>
  </div>
</div>

<!-- LIFESTYLE CHECK BOX -->
<div class="checkbox">
  <%= form.label "lifestyle", class: "col-lg-2 control-label" %>
  <div class="col-lg-10">
  <%= form.select("lifestyle",[['Adventurer', 'adventurer'], ['Athletic', 'athletic'], ['Intellectual', 'intellectual'], ['Professional', 'professional'], ['Traveller', 'traveller'], ['Party Animal', 'party animal'], ['Chill', 'chill']], {}, { :class => 'form-control', :id => 'select', include_blank: true} ) %>
  </div>
</div>

<!-- PROFESSION -->
<div class="form-group">
  <%= form.label "profession", class: "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= form.text_field "profession", class: 'form-control', id: "inputEmail", placeholder: 'Profession' %>    
  </div>
</div>