<h1>My Profile Page</h1>

<h4>
  Username: <%= @user.username %><br>
</h4>

<h1>Details:</h1>

<h4>
  About Me: <%= @user.deet.about_me %><br>
  Lifestyle: <%= @user.deet.lifestyle %><br>
  Profession: <%= @user.deet.profession %><br><br>
  <%= link_to 'Update Details', edit_deet_path(@deet) %>
</h4>

<h1>Preferences:</
h1>
   <p> I am looking for a <%= @user.preference.gender_pref %> between the  ages of <%= @user.preference.min_age %> and <%= @user.preference.max_age %>.
   <br>
   First date? I'd be down to go for:<br>
   <% @user.first_dates.each do |first_date| %>
   <%= first_date.types %><br>
   <% end %>
   </p>

   <%= link_to 'Update Date Preferences', edit_preference_path(@preference) %>

<h1>View My Matches</h1>
<%= link_to 'My Matches', users_path %><br><br>
Your date is going to be at:
<h1><%= @business_name %></h1>

