<div id="page-content-wrapper">
  <div class="container-fluid" style="margin-left:20%">

      <%= render 'layouts/sidebar' %>

      <% @user.each do |user| if @user %>
        <div class="col-md-4 portfolio-item">

          <a href="#">
            <img class="profilepic" src="<%=user.img%>">
          </a>

          <h3><%= link_to user.username, user_path(user) %></h3>

          <p>
          <%= button_to 'Like', {:controller => "likes", :action => "create", :target_id => user.id} , :method=>:post, class: 'btn btn-warning'  %>
          <%= button_to 'Flag', {:controller => "flags", :action => "create", :target_id => user.id} , :method=>:post, class: 'btn btn-danger' %>
          </p>


        </div>
        <% end %>
        <% end %>
  </div>
</div>

<!--
FORM -->

 <!-- DEET MODAL -->
<div class="modal fade" id="deetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <!-- close modal x -->
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

        <!-- modal title -->
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>

      <!-- model content -->
      <div class="modal-body">
        <%#= form_for %>
          <%#= render "deets/form", form: f %>
        <%# end %>
      </div>

      <!-- buttons -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>




<!-- FIRST DATE MODAL -->
<div class="modal fade" id="firstdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">

       <!-- close modal x -->
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

       <!-- modal title -->
       <h4 class="modal-title" id="myModalLabel">Modal title</h4>
     </div>

     <!-- model content -->
     <div class="modal-body">
      <%= render "preferences/modal" %>
     </div>

     <!-- buttons -->
     <!-- <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <button type="button" class="btn btn-primary">Save changes</button>
     </div> -->
   </div>
 </div>
</div>
