<div id="page-content-wrapper">
  <div class="container-fluid" style="margin-left:20%">

      <%= render 'layouts/sidebar' %>

      <% @user.each do |user| if @user %>
        <div class="col-md-4 portfolio-item">
          <a href="/users">

            <%if user.image.nil?%>
            <img class="profilepic" src="<%=user.img%>">
            <%else%>
            <img class="profilepic" src="<%=user.image%>">
            <%end%>
          </a>

          <h3><%= link_to user.username, user_path(user) %></h3>

          <div style="">
              <%= link_to '<i class="fa fa-heart-o"></i>'.html_safe, {:controller => "likes", :action => "create", :target_id => user.id} , :method=>:post, class: 'btn btn-warning', style: 'margin-right: 90px;' %>
              <%= link_to '<i class="fa fa-flag"></i>'.html_safe, {:controller => "flags", :action => "create", :target_id => user.id} , :method=>:post, class: 'btn btn-danger' %>
          </div>

        </div>
        <% end %>
        <% end %>
  </div>
</div>

<!--
FORM -->

 <!-- DEET MODAL -->
<div class="modal fade" id="deetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <!-- close modal x -->
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

        <!-- modal title -->
        <h4 class="modal-title" id="myModalLabel">okay go</h4>
      </div>

      <!-- model content -->
      <div class="modal-body">
        <%= render "deets/modal" %>
      </div>
  </div>
</div>




<!-- FIRST DATE MODAL -->
<div class="modal fade" id="firstdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">

       <!-- close modal x -->
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

       <!-- modal title -->
       <h4 class="modal-title" id="myModalLabel">okay go</h4>
     </div>

     <!-- model content -->
     <div class="modal-body">
      <%= render "preferences/modal" %>
     </div>

   </div>
 </div>
</div>

<!-- FIRST DATE MODAL -->
<div class="modal fade" id="firstdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">

       <!-- close modal x -->
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

       <!-- modal title -->
       <h4 class="modal-title" id="myModalLabel">okay go</h4>
     </div>

     <!-- model content -->
     <div class="modal-body">
      <%= render "deets/modal" %>
     </div>

   </div>
 </div>
</div>
