<script>

// click event on .chatLink
// grabs user_id of match
// randomizes chat code
// grabs current userID
// interpolates current user_id onto url

$(function() {

    $(".chatLink").on('click', function(evt) {

      // set .data
      var userID = $(this).data('otheruserid');

      $.getJSON('/getChatID/'+userID, function(data) {

      //make iframe code here CHAT BOX
      //URL - 'http://localhost:8080/'+data.chatID
        $("#iframeModal").find("iframe").attr('src', 'http://localhost:8080/chat/<%=@current_user.id%>/'+data.chatID);

      });

    });

  $('#iframeModal').on("hidden.bs.modal", function() {
    $(this).find("iframe").attr("src","");
  });

});


</script>

<div id="page-content-wrapper">
  <div class="container-fluid" style="margin-left:20%">

      <%= render 'layouts/sidebar' %>

      <% @user.each do |user| if @user %>
    <div class="col-md-4 portfolio-item">
      <!-- JAVASCRIPT TAG -->
        <%= content_tag "div", id: "products", data: {otheruserid: user.id} do %>
        <img class="profilepic" src="<%=user.image%>">
      <h3><%= link_to user.username, user_path(user) %></h3>
      <div style="">
      <!-- username -->
       <%= link_to "Date", first_date_path(:chatid => current_user.id + user.id), :class => "btn btn-danger", :method => :get, style: 'margin-right: 90px;'  %>
    <!-- /JAVASCRIPT TAG -->

      <!-- CHAT BUTTON -->
      <!-- connected to script tag -->
      <button id="startChat" class="btn btn-warning chatLink"  data-toggle="modal" data-target="#iframeModal" data-otheruserid="<%=user.id%>">Chat</button>
      </div>
      </div>
          <% end %>
        <% end %>
      <% end %>
</div>

<!-- IFRAME MODAL -->

  <div class="modal fade" id="iframeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <!-- close modal x -->
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

          <!-- modal title -->
          <h4 class="modal-title" id="myModalLabel">Just Decide</h4>
        </div>

        <!-- model content -->
        <div class="modal-body">

          <iframe width="100%" height="100%" seamless scrolling="yes" frameBorder="0" allowfullscreen>
          </iframe>
        </div>

        <!-- buttons -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>


<!-- DEET MODAL -->
<div class="modal fade" id="deetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">

       <!-- close modal x -->
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

       <!-- modal title -->
       <h4 class="modal-title" id="myModalLabel">Modal title</h4>
     </div>

     <!-- model content -->
     <div class="modal-body">
       <%= render "deets/modal" %>
     </div>

     <!-- buttons -->
     <!-- <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <button type="button" class="btn btn-primary">Save changes</button>
     </div> -->
   </div>
 </div>
</div>




<!-- FIRST DATE MODAL -->
<div class="modal fade" id="firstdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">

      <!-- close modal x -->
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

      <!-- modal title -->
      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
    </div>

    <!-- model content -->
    <div class="modal-body">
     <%= render "preferences/modal" %>
    </div>

    <!-- buttons -->
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
  </div>
</div>
</div>

<!-- FIRST DATE MODAL -->
<div class="modal fade" id="firstdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">

      <!-- close modal x -->
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

      <!-- modal title -->
      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
    </div>

    <!-- model content -->
    <div class="modal-body">
     <%= render "deets/modal" %>
    </div>

    <!-- buttons -->
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
  </div>
</div>
</div>
