<div id="page-content-wrapper" style="
      background-color: antiquewhite;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;">
    <div class="container-fluid" style="margin-left:20%">
      
      <%= render 'layouts/sidebar' %>
<h2>
  <%= @user.username %><br>
</h2>

<%if @user.image.nil?%>
  <img class="profilepic" src="<%=@user.img%>">
<%else%>
  <img class="profilepic" src="<%=@user.image%>">
<%end%>

<h4><%= @user.deet.about_me %></h4><br><br>
<h4> Lifestyle:</h4> <p> <%= @user.deet.lifestyle.capitalize %></p><br>
<h4> Profession: </h4> <%= @user.deet.profession.capitalize %><br>
</h4>
   <br>
   <h4>First date selections:</h4>
   <% @user.first_dates.each do |first_date| %>
   <%= first_date.types.capitalize %><br>
   <% end %>
   </p>

  </div>
</div>
