<div id="page-content-wrapper">
    <div class="container-fluid" style="margin-left:20%">

<h2>
  <%= @user.username %><br>
</h2>

<h1>Details:</h1>

<h4>
  About Me: <%= @user.deet.about_me %><br>
  Lifestyle: <%= @user.deet.lifestyle %><br>
  Profession: <%= @user.deet.profession %><br><br>
</h4>

<h1>Preferences:</h1>
   <p> I am looking for a <%= @user.preference.gender_pref %> between the  ages of <%= @user.preference.min_age %> and <%= @user.preference.max_age %>.
   <br>
   First date? I'd be down to go for:<br>
   <% @user.first_dates.each do |first_date| %>
   <%= first_date.types %><br>
   <% end %>
   </p>

<%= link_to 'Back to My Matches', users_path %>

  </div>
</div>
