
<h4>
  Username: <%= @user.username %><br>
</h4>

<h1>Details:</h1>

<h4>
  About Me: <%= @user.deet.about_me %><br>
  Lifestyle: <%= @user.deet.lifestyle %><br>
  Profession: <%= @user.deet.profession %><br><br>
</h4>

<h1>Preferences:</h1>
   <p> I am looking for a <%= @user.preference.gender_pref %> between the  ages of <%= @user.preference.min_age %> and <%= @user.preference.max_age %>.
   <br>
   Ideally, I would like to to go on a <%= FirstDatePref.where(user_id: @user.id) %> date.
   </p>

<%= link_to 'Back to My Matches', users_path %>
