<%= form_for @preference, :html => {:multipart => true} do |f| %>
  <% if @preference.errors.any? %>
    <div>
      <%= pluralize(@preference.errors.count, "error") %> prevented this preference from being submitted:
      <ul>
        <% @preference.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label "gender_pref" %><br>
    <%= f.select("gender_pref",[['male', 'male'], ['female', 'female']]) %>
  </div>
  <div>
    <%= f.label "min_age" %><br>
    <%= f.select "min_age", options_for_select( (19..99).step(1).map{|n| n%1 == 0 ? n.to_i : n} ) %>
  </div>
  <div>
    <%= f.label "max_age" %><br>
    <%= f.select "max_age", options_for_select( (19..99).step(1).map{|n| n%1 == 0 ? n.to_i : n} ) %>
  </div>
    <div>
    <%= f.label "address" %><br>
    <%= f.text_field "address" %>
  </div>
  <div>
  <%= collection_check_boxes(:user, :first_dates, @first_date, :id, :types) %>
  </div>
    <div>
  <%= collection_check_boxes(:user, :lifestyles, @lifestyle, :id, :types) %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
