
  <div id="page-content-wrapper">
    <div class="container-fluid" id="pref-nav">

    <%= render 'layouts/navbar' %>

     <legend id='center-legend'>Let's get started!</legend>
      <fieldset id='preference-fieldset'>
        <%= form_for @preference, :html => {:class => 'form-horizontal'} do |f| %>
          <%= render f %>
        <%= link_to 'Back', root_path, class: 'btn btn-warning' %>
          <%= f.submit "Next", class: 'btn btn-warning' %>
        <% end %>
      </fieldset>
    </div>
  </div>
