<div id="wrapper">
  <div id="sidebar-wrapper">

    <ul class="sidebar-nav">

        <li id='first-nav-bar-list-item'>
         <a href="/my_dates"><img class="minilogo" src="assets/logo1.png"></a>
         </li>
        </li>
        <li>
        <a href="/users"><img class="profilepic" src="<%=current_user.img%>"></a>
        </li>
        <li>
          <%= current_user.username %>

        <li>
        <!-- deet modal -->
        <button class="btn btn-warning" data-toggle="modal" data-target="#deetModal">
          <img class="button-img" src="assets/icons/deet.png">
        </button>
          <!-- preference modal -->
          <button class="btn btn-warning" data-toggle="modal" data-target="#firstdateModal">
            <img class="button-img" src="assets/icons/preference.png">
          </button>

        <!-- first date and lifestyle modal -->
        <button class="btn btn-warning" data-toggle="modal" data-target="#deetModal">
          <img class="button-img" src="assets/icons/first_date.png">
        </button>


      </li>
        <li>
            <%= link_to "Mutual Matches", matches_path %>
          <% if current_user %>
          <%= link_to "All Matches", users_path %>
          <%= link_to 'My Dates', my_dates_path %>
        <li>
          <%= link_to "Log Out", logout_path %>
        </li>
          <% else %>
          <%= link_to "Sign Up", signup_path %> or
          <%= link_to "Log In", login_path %>
          <% end %>
        </li>

    </ul>
  </div>

</div>
