<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
         <%= link_to "bolt", root_path, id: 'bolt-header' %>
        </li>
        <li>
            <img class="profilepic" src="<%= current_user.img %>">
        </li>
        <li>
            About Me: <%= current_user.deet.about_me %>
        </li>
        <li>
            Lifestyle: <%= current_user.deet.lifestyle %>
        </li>
        <li>
            Profession: <%= current_user.deet.profession %>
        </li>
        <li>
          <%= link_to "Update Deets", edit_deet_path(current_user.id) %>
        </li>
        <li>
            Looking for: <%= current_user.preference.gender_pref %>
        </li>
        <li>
            Between: <%= current_user.preference.min_age %> - <%= current_user.preference.max_age %>
        </li>
        <li>
            <%= link_to "Update First Date", edit_preference_path(current_user.id)%>
        </li>
        <li>
            <%= link_to "Mutual Matches", matches_path %>
        </li>
        <li>
          <% if current_user %>
          <%= link_to "All Matches", users_path %>
          <%= link_to "Log Out", logout_path %>
          <% else %>
          <%= link_to "Sign Up", signup_path %> or
          <%= link_to "Log In", login_path %>
          <% end %>
        </li>
    </ul>
  </div>

</div>
