<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
        </li>
        <li>
        <a href="/users"><img class="profilepic" src="<%=current_user.img%>"></a>
        </li>
        <li>
          <%= current_user.username %>
        </li>
          <%= current_user.deet.about_me %>
        </li>
        <li>
            Lifestyle: <%= current_user.deet.lifestyle %>
        </li>
        <li>
            Profession: <%= current_user.deet.profession %>
        </li>
        <li>
        <!-- deet modal -->
        <button class="btn btn-warning" data-toggle="modal" data-target="#deetModal">
          <img class="button-img" src="assets/icons/deet.png">
        </button>
          <!-- preference modal -->
          <button class="btn btn-warning" data-toggle="modal" data-target="#firstdateModal">
            <img class="button-img" src="assets/icons/preference.png">
          </button>

        <!-- first date and lifestyle modal -->
        <button class="btn btn-warning" data-toggle="modal" data-target="#deetModal">
          <img class="button-img" src="assets/icons/first_date.png">
        </button>


      </li>
        <li>
            <%= link_to "Mutual Matches", matches_path %>
        </li>
        <li>
          <% if current_user %>
          <%= link_to "All Matches", users_path %>
          <a href="/my_dates"><img class="minilogo" src="assets/logo1.png"></a>

          <%= link_to "Log Out", logout_path %>
          <% else %>
          <%= link_to "Sign Up", signup_path %> or
          <%= link_to "Log In", login_path %>
          <% end %>
        </li>

    </ul>
  </div>

</div>
